absl-py==2.1.0
accelerate==0.24.1
aiofiles==23.2.1
aiohttp==3.9.0
aiosignal==1.3.1
alembic==1.13.1
altair==5.1.2
aniso8601==9.0.1
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
av==14.0.1
Babel==2.14.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
bidict==0.22.1
bleach==6.1.0
blinker==1.7.0
branca==0.7.1
cachelib==0.12.0
cachetools==5.3.2
cattrs==23.2.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cryptography==45.0.4
ctransformers==0.2.27
cycler==0.12.1
dataclasses-json==0.6.2
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
distro==1.8.0
dm-tree==0.1.8
env==0.1.0
etils==1.7.0
executing==2.2.0
face-alignment==1.4.1
faiss-cpu==1.7.4
fastapi==0.109.2
fastjsonschema==2.19.1
filelock==3.13.1
flash==1.0.3
Flask==2.3.1
Flask-Bcrypt==1.0.1
flask-googlemaps==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-RESTful==0.3.10
Flask-Session==0.6.0
Flask-SQLAlchemy==3.1.1
flatbuffers==25.1.24
folium==0.15.1
fonttools==4.55.6
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.6.0
ghp-import==2.1.0
git-lfs==1.6
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.66.0
greenlet==3.0.1
grpcio==1.70.0
h11==0.14.0
h5py==3.12.1
htmlmin==0.1.12
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.1
huggingface==0.0.1
huggingface-hub==0.19.4
idna==3.4
ifaddr==0.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib-metadata==6.8.0
importlib_resources==6.1.2
install==1.3.5
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.2
joblib==1.3.2
jsmin==3.0.1
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab_widgets==3.0.10
keras==3.8.0
kiwisolver==1.4.8
langchain==0.0.339
langdetect==1.0.9
langsmith==0.0.65
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.44.0
Mako==1.3.2
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.4.12
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
mkdocs==1.5.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.3.0
ml-dtypes==0.3.2
modules==1.0.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.9.0
nbconvert==7.16.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
nicegui==1.4.14
nltk==3.8.1
notebook==7.1.1
notebook_shim==0.2.3
numba==0.61.0
numpy==1.26.2
oauthlib==3.2.2
openai==1.3.5
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
openmeteo_requests==1.2.0
openmeteo_sdk==1.10.0
opt_einsum==3.4.0
option==2.1.0
optree==0.14.0
orjson==3.9.13
overrides==7.7.0
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pdfminer.six==20250506
pdfplumber==0.11.7
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.3.6
prometheus-client==0.19.0
promise==2.3
prompt_toolkit==3.0.50
protobuf==4.25.1
pscript==0.7.7
psutil==5.9.6
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.1
pydantic_core==2.14.3
pydeck==0.8.1b0
Pygments==2.19.1
pymdown-extensions==10.7
pyotp==2.9.0
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.30.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.9.0
python-json-logger==2.0.7
python-multipart==0.0.7
python-socketio==5.11.1
pytorch-symbolic==1.0.7
pytz==2023.3.post1
PyYAML==6.0.1
pyyaml_env_tag==0.1
pyzmq==26.2.1
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-cache==1.2.0
requests-oauthlib==1.3.1
retry-requests==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.13.1
rsa==4.9
safetensors==0.4.0
scikit-image==0.25.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.2
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
SQLAlchemy-Utils==0.41.1
stack-data==0.6.3
starlette==0.36.3
statsmodels==0.14.4
streamlit==1.28.2
sympy==1.12
sync-batchnorm==0.0.1
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.16.2
tensorflow-metadata==1.16.1
tensorflow-metal==1.1.0
termcolor==2.5.0
terminado==0.18.0
threadpoolctl==3.2.0
tifffile==2025.1.10
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.0
torch==2.1.1
torchaudio==2.5.1
torchvision==0.16.1
tornado==6.4.1
tqdm==4.66.1
traitlets==5.14.3
transformers==4.35.2
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.1.0
uvicorn==0.27.0.post1
uvloop==0.19.0
validators==0.22.0
vbuild==0.8.2
virtualenv==20.26.3
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.1.3
widgetsnbextension==4.0.10
wrapt==1.17.2
wsproto==1.2.0
xyzservices==2023.10.1
yarl==1.9.2
zipp==3.17.0
